
<div class="showAll-comp display-flex justify-content-center">
  <div class="filter-data-section">
    <div class="filter-section display-flex justify-content-center align-items-center gapRem3">
      <p-button
        *ngFor="let btn of filerBtns"
        [rounded]="true"
        (click)="sidebartoggle()">{{btn.btnName}}
        <ng-container *ngIf="btn.badgeVal > 0">
          <span class="p-badge">{{ btn.badgeVal }}</span>
        </ng-container>
      </p-button>
    </div>
  </div>
</div>
 