<div class="home-comp bgWhite">
    <div class="home-header bgWhite width100pc height100pc">
        <div class="home-header-left height100pc display-flex align-items-center">
            <div class="img-div height100pc paddingBRem0-5">
                <img class="projIcon height100pc" src="./../../../assets/images/homeicon2.avif" alt="ApnaaGharIcon" />
            </div>
            <div class="proj-title primaryColor fontSizeRem1-2 fontWeight600">
                ApnaaGhar
            </div>
        </div>
        <div class="home-header-right"></div>
    </div>
</div>