<div class="home-comp bgWhite">
  <div class="home-header bgWhite width100pc">
      <div class="home-header-left height100pc display-flex align-items-center">
          <div class="img-div">
              <img class="projIcon height100pc" src="./../../../assets/images/homeicon2.avif" alt="ApnaaGharIcon">
          </div>
          <div class="proj-title primaryColor fontSizeRem1-2 paddingTRem0-6 fontWeight600">ApnaaGhar</div>
      </div>
      <div class="home-header-right"></div>
  </div>
  <div class="home-body"></div>
  <div class="home-footer"></div>
</div>